@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", serif;
}

div.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30% 0 30%;
  height: 100vh;
}

div#landing-main-text {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: auto;
  z-index: 100;
}

h1.main-text {
  color: #31476A;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
}

.bold-name {
  font-weight: 800;
  font-size: 65px;
  line-height: 100px;
  color: #001E4B;
  letter-spacing: 1px;
}

.heading-period {
  font-weight: 400;
}

a.italic-text {
  font-style: italic;
  text-decoration: none;
  color: #31476A;
  font-weight: 500;
}

a.landing-scroll-link {
  text-decoration: none;
}

.landing-scroll-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 15px;
  font-family: "Lora", serif, serif;
  color: #31476A;
  z-index: 100;
}

i {
  color: #31476A;
}

.top-right-red {
  height: 300px;
  width: 450px;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  top: -80px;
  right: 80px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

.top-right-blue {
  height: 400px;
  width: 400px;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  top: 150px;
  right: -150px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

.top-right-yellow {
  height: 300px;
  width: 300px;
  background-color: #EDAA6C;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%;
  top: 250px;
  right: 350px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

.bottom-left-red {
  height: 100px;
  width: 500px;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  bottom: 0px;
  left: -80px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

.bottom-left-blue {
  height: 300px;
  width: 300px;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  bottom: 150px;
  left: -100px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

.bottom-left-yellow {
  height: 350px;
  width: 350px;
  background-color: #EDAA6C;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%;
  bottom: 60px;
  left: 350px;
  opacity: 0.5;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
  z-index: 1;
}

div.navbar {
  background: #F8EDE6;
  opacity: 0.8;
  color: #001E4B;
  width: 100vw;
  -webkit-filter: drop-shadow(0 4px 4px #cccccc);
          filter: drop-shadow(0 4px 4px #cccccc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

div.navbar a {
  text-decoration: none;
  color: #001E4B;
}

div.navbar div.left-nav-item-container,
div.navbar div.right-nav-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  padding: 0 20px;
  font-family: "Petrona", serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

div.navbar div.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  font-family: "Playfair Display", serif;
}

div.main {
  width: 100vw;
}

div.main h2 {
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 30px;
}

div.main hr {
  border: 1px solid #001E4B;
  margin-top: 5px;
  margin-bottom: 20px;
}

div.main p {
  font-family: "Petrona", serif;
  font-weight: 550;
  font-size: 18px;
  line-height: 1.5;
}

div.main .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  height: 100vh;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects p {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.my-art {
  height: 100vh;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my-art p {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.about {
  height: 100vh;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  height: 100vh;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */