* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: basic-sans, sans-serif;
  background-color: #142b40;
}

body {
  font-size: 100%;
}

div.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10% 0 10%;
  flex-basis: 100%;
  height: 900px;
  flex: 1;
  border-style: solid;
  border-color: white;
}

div.landing-main-text {
  text-align: left;
  border-style: solid;
  border-color: white;
  margin-top: auto;
}

div.landing-scroll-text {
  text-align: center;
  border-style: solid;
  border-color: white;
  margin-top: auto;
}

h1 {
  color: #f2e4df;
  font-weight: 700;
  font-size: 3.5em;
}

h1 span {
  color: #d9a59a;
}

h3 {
  color: #f2e4df;
}
