@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$main-text-color: #31476A;
$main-bold-text-color: #001E4B;
$header-font: 'Playfair Display';
$sub-header-font: 'Lora';

@mixin shape-defaults() {
  opacity: 0.5;
  filter: blur(80px);
  position: absolute;
  z-index: 1;
}
$blue-shape-color: #7897D2;
$red-shape-color: #FF7E76;
$yellow-shape-color: #EDAA6C;

$main-light-text: black;
$large-text-size: 3.5em;
$navbar-height: 80px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
}

body {
  font-family: $header-font, sans-serif;
}

//landing page text
div.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30% 0 30%;
  height: 100vh;
}

div#landing-main-text {
  font-family: $header-font, sans-serif;
  // font-style: normal;
  text-align: center;
  margin-top: auto;
  z-index: 100;
}

h1.main-text {
  color: $main-text-color;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
}

.bold-name {
  font-weight: 800;
  font-size: 65px;
  line-height: 100px;
  color: $main-bold-text-color;
  letter-spacing: 1px;
}

.heading-period {
  font-weight: 400;
}

a.italic-text {
  font-style: italic;
  text-decoration: none;
  color: $main-text-color;
  font-weight: 500;
}

//landing page scroll text
a.landing-scroll-link {
  text-decoration: none;
}

.landing-scroll-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 15px;
  font-family: $sub-header-font, serif;
  color: $main-text-color;
  z-index: 100;
}

i {
  color: $main-text-color;
}

// Landing page background shapes
.top-right-red {
  height: 300px;
  width: 450px;
  background-color: $red-shape-color;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  top: -80px;
  right: 80px;
  @include shape-defaults();
}

.top-right-blue {
  height: 400px;
  width: 400px;
  background-color: $blue-shape-color;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33% ;
  top: 150px;
  right: -150px;
  @include shape-defaults();
}

.top-right-yellow {
  height: 300px;
  width: 300px;
  background-color: $yellow-shape-color;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%  ;
  top: 250px;
  right: 350px;
  @include shape-defaults();
}

.bottom-left-red {
  height: 300px;
  width: 500px;
  background-color: $red-shape-color;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  bottom: -200px;
  left: -80px;
  @include shape-defaults();
}

.bottom-left-blue {
  height: 300px;
  width: 300px;
  background-color: $blue-shape-color;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33% ;
  bottom: 150px;
  left: -100px;
  @include shape-defaults();
}

.bottom-left-yellow {
  height: 350px;
  width: 350px;
  background-color: $yellow-shape-color;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%  ;
  bottom: 60px;
  left: 350px;
  @include shape-defaults();
}


h1.title,
h1.subtitle {
  color: $main-light-text;
  font-weight: 700;
  font-size: $large-text-size;
}

h1 span {
  color: #001E4B;
}

h3 {
  color: #001E4B;
}

div.navbar {
  background: #09233A;
  display: flex;
  height: $navbar-height;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: sticky;
  top: 0;
  z-index: 999;
  // @include border-box();
}

div.nav-header {
  margin-right: auto;
  padding-left: 20px;
}

h1.nav-header-text {
  color: $main-light-text;
  font-weight: 700;
  font-size: 1.5em;
}

div.nav-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: $navbar-height;
  width: 30%;
  // @include border-box();
}

a.navbar-link {
  color: #fff;
}

a.navbar-button {
  color: #fff;
}

h2.about-heading {
  padding-bottom: 1500px;
}
