@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
.background-shapes {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: none;
  z-index: -1;
}

.background-shapes .top-right-red {
  height: 30vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  top: -8vh;
  right: 8vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-blue {
  height: 45vh;
  width: 40vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  top: 10vh;
  right: -17vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-yellow {
  height: 30vh;
  width: 25vw;
  background-color: #EDAA6C;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%;
  top: 22vh;
  right: 25vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-red {
  height: 20vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  bottom: -5vh;
  left: -10vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-blue {
  height: 37vh;
  width: 30vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  bottom: 20vh;
  left: -13vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-yellow {
  height: 28vh;
  width: 30vw;
  background-color: #EDAA6C;
  border-radius: 82% 18% 76% 24% / 58% 22% 78% 42%;
  left: 22vw;
  bottom: 15vh;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
  overflow-x: hidden;
  width: 100vw;
}

body {
  color: #001E4B;
  margin: 0;
  padding: 0;
}

div.header {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5vh;
  padding: 4vh;
  width: 75vw;
  border-bottom: solid 2px #001E4B;
  letter-spacing: 1vw;
}

div.header h1 {
  font-size: 1.7em;
  font-weight: 800;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  margin: 2vh auto;
  font-size: 0.95em;
  font-family: "Nunito Sans", sans-serif;
}

section h3 {
  font-size: 1.3em;
  letter-spacing: 0.5vw;
  margin: 0 auto;
  margin-bottom: 3vh;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

section ul {
  text-indent: 3vw;
  list-style-position: inside;
  padding: 2vh 0;
}

section.projects h4 {
  font-size: 1em;
  font-weight: 700;
}

section.projects p {
  font-size: 0.9em;
  font-style: italic;
}

section.work h4 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 1vh;
}

section.work p {
  font-size: 0.9em;
}

section.work p.company {
  font-size: 1em;
  font-weight: 500;
}

section.work p.date {
  font-style: italic;
}

section.skills, section.education, section.contact {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.skills h3 {
  margin-bottom: 2vh;
}

section.skills ul {
  text-indent: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 2vh;
}

hr {
  height: 1px;
  background-color: #001E4B;
  border: none;
  width: 35vw;
  margin: 5vw auto;
}

a {
  text-decoration: none;
}

a:link {
  color: #001E4B;
}

a:link:visited {
  color: #31476A;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #001E4B;
}
/*# sourceMappingURL=resume.css.map */