@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.background-shapes {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: none;
  z-index: -1;
}

.background-shapes .top-right-red {
  height: 30vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  top: -8vh;
  right: 8vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-blue {
  height: 45vh;
  width: 40vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  top: 10vh;
  right: -17vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-yellow {
  height: 30vh;
  width: 25vw;
  background-color: #EDAA6C;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%;
  top: 22vh;
  right: 25vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-red {
  height: 20vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  bottom: -5vh;
  left: -10vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-blue {
  height: 37vh;
  width: 30vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  bottom: 20vh;
  left: -13vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-yellow {
  height: 28vh;
  width: 30vw;
  background-color: #EDAA6C;
  border-radius: 82% 18% 76% 24% / 58% 22% 78% 42%;
  left: 22vw;
  bottom: 15vh;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #001E4B;
}

a:link:visited {
  color: #31476A;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #001E4B;
}
/*# sourceMappingURL=resume.css.map */