@import './variables.scss';
@import './mixins.scss';
@import './background.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: $header-font;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:link {
    color: $main-bold-text-color;
    &:visited {
      color: $main-text-color;
    }
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited{
    color: $main-bold-text-color;
  }
}

//landing page text
div.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30%;
  height: 100vh;
  visibility: visible;
}

div#landing-main-text {
  font-family: $header-font;
  text-align: center;
  margin-top: auto;
  z-index: 100;
}

h1.main-text {
  color: $main-text-color;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
}

.bold-name {
  font-weight: 800;
  font-size: 65px;
  line-height: 100px;
  color: $main-bold-text-color;
  letter-spacing: 1px;
}

.heading-period {
  font-weight: 400;
}

a.italic-text {
  font-style: italic;
  text-decoration: none;
  color: $main-text-color;
  font-weight: 500;
  transition: $five-transition;

  &:hover{
    color: $hover-color;
  }
}

//landing page scroll text
.landing-scroll-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 15px;
  font-family: $scroll-font, serif;
  color: $main-text-color;
  z-index: 100;

  transition: $five-transition;

  i {
    color: $main-text-color;
  }

  a.landing-scroll-link {
    text-decoration: none;
    color: $main-text-color;
    
  }

  &:hover {
    // filter: drop-shadow(0px 2px 2px rgb(185, 185, 185));
    transform: translate(0, -10px);
    color: $main-text-color;
  }
}

//Responsive settings for Landing page
@media screen and (max-width: 1560px) {
  h1.main-text {
    font-size: 30px;
  }
  
  .bold-name {
    font-size: 45px;
    line-height: 70px;
  }  
}
@media screen and (max-width: 983px) {
  div.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    height: 100vh;
  }

  h1.main-text {
    font-size: 15px;
  }
  
  .bold-name {
    font-size: 25px;
    line-height: 50px;
  }

  .landing-scroll-text {
    font-size: 10px;
    margin-bottom: 15vh;
  }
}

//MAIN section 
//opacity goes to 1 when page is scrolled
#main {
  opacity: 1;
  transition: all ease 1s;
  margin: 0;
  padding: 0;
}

//Navigation Bar
div.navbar {
  background: $navbar-color;
  opacity: 0.95;
  color: $main-bold-text-color;
  width: 100vw;
  filter: drop-shadow(0 4px 4px #cccccc);
  display: flex;
  height: $navbar-height;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: sticky;
  top: 0;
  font-size: 0.9em;
  z-index: 999;

  a {
    text-decoration: none;
    color: $main-bold-text-color;
    padding: 5px 0;
    transition: $five-transition;

    &:hover {
      transform: translate(0, -5px);
    }
  }

  div.left-nav-container, 
  div.right-nav-container {
    @include navbar-text();
  }

  div.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
    font-family: $header-font;
  }

  .selected-section {
    position: absolute;
    z-index: -2;
    border-bottom: solid 2px $main-bold-text-color;
    transition: $five-transition;
  }

  div.hamburger-toggle {
    visibility: hidden;
  }
}

//Responsive styles for the Navbar inlcuding togle hamburger mobile menu
@media screen and (max-width: 1560px) {
  div.navbar {
    div.nav-header {
      margin: 0;
    }

    div.left-nav-container, 
  div.right-nav-container {
    width: 20%;
  }
  
    .nav-header-text {
      font-size: 1.5em;
    }
  
    a {
      font-size: 15px;
    }
  }
  
}

//Responsive settings for Navbar
@media screen and (max-width: 983px) {
  $mobile-navbar-height: 50px;
  
  div.navbar {
    width: 100vw;
    height: 50px;
    

    div.nav-header {
      position: absolute;
      left: 0;
      padding: 0 5%;
      
    }

    div.hamburger-toggle {
      visibility: visible;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      right: 20px;
      margin: 0;
      height: 27px;
      
  
      div {
        height: 3.5px;
        width: 30px;
        background-color: $main-bold-text-color;
        transition: $five-transition;
      }

      &:hover {
        cursor: pointer;
        div {
          background-color: white;
        }
      }
    }
  
    div.left-nav-container, 
    div.right-nav-container {
      display: none;
      // display: flex;
      flex-direction: column;
      position: absolute;
      width: 100vw;
      right: 0;
      top: $mobile-navbar-height;
      margin: 0;
      font-size: 15px;
      background-color: $navbar-color;
      transition: $five-transition;
      a {
        text-align: center;
        width: 100%;
        border-top: solid 2px white;
        padding: 10px 0;
        color: $main-bold-text-color;
        &:hover {
          transform: none;
          color: white;
          background-color: $main-bold-text-color;
        }
      }
    }

    div.right-nav-container {
      top:  125px;
    }

    .selected-section {
      visibility: hidden;
    }
  }

  
}

//Styles for social media/contact menu on the side of the screen
.social-menu {
  //changed with js to show/hide the social menu
  position: fixed;
  right: -45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(248, 237, 230, 0.7);
  top: 70vh;
  float: right;
  padding: 7px 0;
  width: 45px;
  border-radius: 5px;
  filter: drop-shadow(-2px 2px 5px #c5c5c5);
  z-index: 998;
  transition: $five-transition;

  a {
    color: $main-text-color;
    font-size: 25px;
    margin: 1px 0;
    z-index: 999;
    &:hover {
      transform: scale(1.1);
      color: $main-bold-text-color;
    }
  }

  i {
    padding: 5px 5px;
  }
}

//Hide the side menu on mobile
@media screen and (max-width: 983px) {
  .social-menu {
    visibility: hidden;
  }
}

//Overall main section styles
div.main {
  width: 100vw;

  h2 {
    letter-spacing: 1px;
    font-family: $header-font;
    font-weight: 700;
    font-size: 30px;
  }

  hr {
    border: 1px solid $main-bold-text-color;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  p {
    font-family: $sub-header-font;
    font-weight: 550;
    font-size: 18px;
    line-height: 1.5;
  }

  .sections {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//Responsive styles for overall main section
@media screen and (max-width: 1560px) {
  div.main {
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 15px;
    }
  } 
}


//Styles for projects section
.projects {
  @include section-settings();

  .projects-text {
    width: $content-width;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
  }

  .projects-container {
    display: flex;
    justify-content: center;
    margin: 8vh 0;
  }

  .projects-row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: $content-width;
  }

  .project-circle{
    width: $project-circle-width;
    height: $project-circle-width;
    border-radius: 50%;
    border: solid 2px $main-bold-text-color;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: $five-transition;
  }

  a {
    text-decoration: none;
  }

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $main-bold-text-color;
    transition: $five-transition;
  }

  .project-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: $project-circle-width;
    height: 0;
    background-color: $main-bold-text-color;
    opacity: 0;
    transition: $five-transition;
  }

  .project-overlay-text {
    display: flex;
    align-items: center;
    height: 70%;
    width: 70%;
    text-align: center;
    color: white;
    font-size: 12px;
    opacity: 0;
  }

  .project-circle:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 5px 10px rgb(163, 163, 163));
  }

  .project-circle:hover .project-overlay{
    height: 100%;
    opacity: 1;
  }

  .project-circle:hover .project-title {
    opacity: 0;
  }

  .project-circle:hover .project-overlay-text {
    opacity: 1;
  }
}

//Responsive styles for projects section
@media screen and (max-width: 1560px) {
  
  .projects {
    width: $mid-section-width;

    .projects-row1 {
      justify-content: space-between;
    }
    .project-circle {
      width: 13vw;
      height: 13vw;
    }
    .project-title {
      font-size: 90%;
    }
    .project-overlay {
      width: 16vw;
    }
  }
  
}
@media screen and (max-width: 983px) {
  .projects {
    width: 85vw;
    min-height: 80vh;
    padding-top: $min-top-padding;

    .projects-container {
      margin: 3vh 0;
    }

    .projects-row1 {
      flex-direction: column;
      // @include box();
    }
    
    .project-circle{
      width: $min-circle-dim;
      height: $min-circle-dim;
      margin: 2vh 0;
    }

    .project-title {
      font-size: 80%
    }
    .project-overlay {
      height: $min-circle-dim;
      width: $min-circle-dim;
    }
  }
}

//Styles for My art section
.my-art {
  @include section-settings();

  p {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto; 
  }

  .art-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: $section-width;
    margin: 30px auto;
    // @include box();
    

    .art-blocks-row1, .art-blocks-row2 {
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: $section-width;
      margin: 0.5vw 0;
    }

    img {
      width: 12vw;
      height: 12vw;
      margin: 0 0.5vw;
    }
  }

  .insta-link {
    font-size: 0.8em;
    margin: 0 0 0 40vw;
  }
}

//Responsive styles for my art section
@media screen and (max-width: 1560px) {
  .my-art {
    width: $mid-section-width;
    // padding-top: 15vh;
    .art-blocks {
      width: $mid-section-width;
      img {
        width: 13vw;
        height: 13vw;
      }
    }
    .insta-link {
      margin: 0 0 0 46vw;
    }
  }
  
}

@media screen and (max-width: 983px) {
  .my-art{
    width: $min-section-width;
    min-height: 115vh;
    padding-top: $min-top-padding;

    .art-blocks {
      width: $min-section-width;
      position: relative;
      
      .art-blocks-row1, .art-blocks-row2 {
        width: $min-section-width;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
      }

      img {
        width: 36vw;
        height: 36vw;
        margin-top: 1vw;
      }
  }
  
}
.insta-link {
  margin: 0 0 0 50vw;
  font: 1em;
}
}

//Styles for about section
.about {
  @include section-settings();

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vh 5vw 0vh 5vw;

    .about-text {
      width: 35vw;
      margin-right: 5vw; 
    }

    p {
      text-indent: 40px;
      text-align: justify;
    }

    a {
      color: $hover-color;
    }

    img {
      height: 50vh;
      width: auto;
    }
  }
}

//Responsive styles for projects section
@media screen and (max-width: 1560px) {
  .about {
    width: $mid-section-width;
  }
}
@media screen and (max-width: 983px) {
  .about {
    width: $min-section-width;
    padding-top: $min-top-padding;
    .about-content {
      flex-direction: column;
      margin-bottom: 0;

      .about-text {
        width: 60vw;
        margin: 0 auto;
      }
    
      p {
        text-indent: 40px;
        text-align: justify;
      }
    
      a {
        color: $hover-color;
      }
    
      img {
        height: 40vh;
        margin-top: 4vh;
        width: auto;
      }
      
    }
  }
}

//Styles for contact section
.contact {
  @include section-settings();

  .contact-text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: $content-width;
    margin: 0 auto;
  }

 .contact-social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 40vw;
  margin: 2vh auto;
  padding: 1em 0;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 90px;
    height: 90px;
    color: $main-bold-text-color;
    text-align: center;
    border-radius: 50%;
    border: solid 2px $main-bold-text-color;
    transition: $five-transition;

    &:hover{
      transform: scale(1.15);
      background-color: $main-bold-text-color;
      color: #fdf9f6;
      text-decoration: none;
      filter: drop-shadow(0 5px 10px rgb(163, 163, 163));
    }
  }

 }

 .resume-link {
  margin-top: 4vh;
}

}

//Responsive styles for projects section
@media screen and (max-width: 1560px) {
  .contact {
    width: $mid-section-width;

    .contact-social-links {
      width: 50vw;
    }
  }

  .resume-link {
    transform: scale(0.85);
  }
  
}

@media screen and (max-width: 983px) {
  .contact {
    width: $min-section-width;
    padding-top: $min-top-padding;
    min-height: 50vh;

    .contact-social-links {
      width: 70vw;
      justify-content: space-between;
      // flex-direction: ;
      a {
        width: 12.5vw;
        height: 12.5vw;
        font-size: 20px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

  }
}

//Styles for resume link (appears in different sections in main section
.resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-decoration: none;
  font-size: 15px;
  background-color: $main-bold-text-color;
  color: white;
  border-radius: 20px;
  width: 300px;
  line-height: 40px;

  transition: $five-transition;

  i {
    transition: $five-transition;
  }

  &:hover {
    // background-color: $main-text-color;
    // background-color: rgba(0, 30, 75, 0.2);
    // border: solid 2px black;
    // color: $main-bold-text-color;
    text-decoration: none;
    // transform: scale(1.05);
  }
  &:hover i {
    transform: translateX(10px);
  }
  &:visited {
    color: white;
  }
}

.fullpage-scroll {
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}