@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shanti&display=swap");
.background-shapes {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: none;
  z-index: -1;
}

.background-shapes .top-right-red {
  height: 30vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  top: -8vh;
  right: 8vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-blue {
  height: 45vh;
  width: 40vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  top: 10vh;
  right: -17vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .top-right-yellow {
  height: 30vh;
  width: 25vw;
  background-color: #EDAA6C;
  border-radius: 52% 48% 47% 53% / 51% 46% 54% 49%;
  top: 22vh;
  right: 25vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-red {
  height: 20vh;
  width: 45vw;
  background-color: #FF7E76;
  border-radius: 50% 30% 30% 60% / 60% 40% 80% 30%;
  bottom: -5vh;
  left: -10vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-blue {
  height: 37vh;
  width: 30vw;
  background-color: #7897D2;
  border-radius: 83% 17% 57% 43% / 67% 66% 34% 33%;
  bottom: 20vh;
  left: -13vw;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

.background-shapes .bottom-left-yellow {
  height: 28vh;
  width: 30vw;
  background-color: #EDAA6C;
  border-radius: 82% 18% 76% 24% / 58% 22% 78% 42%;
  left: 22vw;
  bottom: 15vh;
  opacity: 0.65;
  -webkit-filter: blur(4em);
          filter: blur(4em);
  position: absolute;
  z-index: 1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F0EC;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #001E4B;
}

a:link:visited {
  color: #31476A;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #001E4B;
}

div.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30%;
  height: 100vh;
  visibility: visible;
}

div#landing-main-text {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-top: auto;
  z-index: 100;
}

h1.main-text {
  color: #31476A;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 2px;
}

.bold-name {
  font-weight: 800;
  font-size: 65px;
  line-height: 100px;
  color: #001E4B;
  letter-spacing: 1px;
}

.heading-period {
  font-weight: 400;
}

a.italic-text {
  font-style: italic;
  text-decoration: none;
  color: #31476A;
  font-weight: 500;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

a.italic-text:hover {
  color: #a5231f;
}

.landing-scroll-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
  font-size: 15px;
  font-family: "Lora", serif, serif;
  color: #31476A;
  z-index: 100;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.landing-scroll-text i {
  color: #31476A;
}

.landing-scroll-text a.landing-scroll-link {
  text-decoration: none;
  color: #31476A;
}

.landing-scroll-text:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  color: #31476A;
}

@media screen and (max-width: 1560px) {
  h1.main-text {
    font-size: 30px;
  }
  .bold-name {
    font-size: 45px;
    line-height: 70px;
  }
}

@media screen and (max-width: 983px) {
  div.landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10%;
    height: 100vh;
  }
  h1.main-text {
    font-size: 15px;
  }
  .bold-name {
    font-size: 25px;
    line-height: 50px;
  }
  .landing-scroll-text {
    font-size: 10px;
    margin-bottom: 15vh;
  }
}

#main {
  opacity: 1;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  margin: 0;
  padding: 0;
}

div.navbar {
  background: #F8EDE6;
  opacity: 0.95;
  color: #001E4B;
  width: 100vw;
  -webkit-filter: drop-shadow(0 4px 4px #cccccc);
          filter: drop-shadow(0 4px 4px #cccccc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 0.9em;
  z-index: 999;
}

div.navbar a {
  text-decoration: none;
  color: #001E4B;
  padding: 5px 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-family: "Petrona", serif;
  font-weight: 800;
  letter-spacing: 2px;
}

div.navbar a:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

div.navbar div.left-nav-container,
div.navbar div.right-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  margin-top: 20px;
  font-family: "Petrona", serif;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1px;
}

div.navbar div.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
}

div.navbar div.nav-header .nav-header-text {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5vw;
  font-size: 1.7em;
}

div.navbar .selected-section {
  position: absolute;
  z-index: -2;
  border-bottom: solid 2px #001E4B;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

div.navbar div.hamburger-toggle {
  visibility: hidden;
}

@media screen and (max-width: 1560px) {
  div.navbar div.nav-header {
    margin: 0;
  }
  div.navbar div.nav-header .nav-header-text {
    font-size: 1.5em;
  }
  div.navbar div.left-nav-container,
  div.navbar div.right-nav-container {
    width: 20%;
  }
  div.navbar a {
    font-size: 15px;
  }
}

@media screen and (max-width: 983px) {
  div.navbar {
    width: 100vw;
    height: 50px;
  }
  div.navbar div.nav-header {
    position: absolute;
    left: 0;
    padding: 0 5%;
  }
  div.navbar div.hamburger-toggle {
    visibility: visible;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    right: 20px;
    margin: 0;
    height: 27px;
  }
  div.navbar div.hamburger-toggle div {
    height: 3.5px;
    width: 30px;
    background-color: #001E4B;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  div.navbar div.hamburger-toggle:hover {
    cursor: pointer;
  }
  div.navbar div.hamburger-toggle:hover div {
    background-color: white;
  }
  div.navbar div.left-nav-container,
  div.navbar div.right-nav-container {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100vw;
    right: 0;
    top: 50px;
    margin: 0;
    font-size: 15px;
    background-color: #F8EDE6;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  div.navbar div.left-nav-container a,
  div.navbar div.right-nav-container a {
    text-align: center;
    width: 100%;
    border-top: solid 2px white;
    padding: 10px 0;
    color: #001E4B;
  }
  div.navbar div.left-nav-container a:hover,
  div.navbar div.right-nav-container a:hover {
    -webkit-transform: none;
            transform: none;
    color: white;
    background-color: #001E4B;
  }
  div.navbar div.right-nav-container {
    top: 125px;
  }
  div.navbar .selected-section {
    visibility: hidden;
  }
}

.social-menu {
  position: fixed;
  right: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(248, 237, 230, 0.7);
  top: 70vh;
  float: right;
  padding: 7px 0;
  width: 45px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(-2px 2px 5px #c5c5c5);
          filter: drop-shadow(-2px 2px 5px #c5c5c5);
  z-index: 998;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.social-menu a {
  color: #31476A;
  font-size: 25px;
  margin: 1px 0;
  z-index: 999;
}

.social-menu a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #001E4B;
}

.social-menu i {
  padding: 5px 5px;
}

@media screen and (max-width: 983px) {
  .social-menu {
    visibility: hidden;
  }
}

div.main {
  width: 100vw;
}

div.main h2 {
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 30px;
}

div.main hr {
  border: 1px solid #001E4B;
  margin-top: 5px;
  margin-bottom: 20px;
}

div.main p {
  font-family: "Petrona", serif;
  font-weight: 550;
  font-size: 18px;
  line-height: 1.5;
}

div.main .sections {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1560px) {
  div.main h2 {
    font-size: 1.5em;
  }
  div.main p {
    font-size: 15px;
  }
}

.projects {
  position: relative;
  min-height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #001E4B;
}

.projects p {
  font-family: "Nunito Sans", sans-serif;
}

.projects .projects-text {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8vh 0;
}

.projects .projects-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.projects .project-circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: solid 2px #001E4B;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects a {
  text-decoration: none;
}

.projects .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #001E4B;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-family: "Petrona", serif;
  font-weight: 700;
}

.projects .project-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 10vw;
  height: 0;
  background-color: #001E4B;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.projects .project-overlay-text {
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 11px;
  opacity: 0;
}

.projects .project-circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0 5px 10px #a3a3a3);
          filter: drop-shadow(0 5px 10px #a3a3a3);
}

.projects .project-circle:hover .project-overlay {
  height: 100%;
  opacity: 1;
}

.projects .project-circle:hover .project-title {
  opacity: 0;
}

.projects .project-circle:hover .project-overlay-text {
  opacity: 1;
}

@media screen and (max-width: 1560px) {
  .projects {
    width: 70vw;
    min-height: 60vh;
  }
  .projects .projects-row1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects .project-circle {
    width: 13vw;
    height: 13vw;
  }
  .projects .project-title {
    font-size: 90%;
  }
  .projects .project-overlay {
    width: 13vw;
  }
}

@media screen and (max-width: 983px) {
  .projects {
    width: 85vw;
    min-height: 80vh;
    padding-top: 10vh;
  }
  .projects .projects-container {
    margin: 3vh 0;
  }
  .projects .projects-row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project-circle {
    width: 25vw;
    height: 25vw;
    margin: 2vh 0;
  }
  .projects .project-title {
    font-size: 80%;
  }
  .projects .project-overlay {
    height: 25vw;
    width: 25vw;
  }
}

.my-art {
  position: relative;
  min-height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #001E4B;
}

.my-art p {
  font-family: "Nunito Sans", sans-serif;
}

.my-art p {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.my-art .art-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
  margin: 30px auto;
}

.my-art .art-blocks .art-blocks-row1, .my-art .art-blocks .art-blocks-row2 {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55vw;
  margin: 0.5vw 0;
}

.my-art .art-blocks img {
  width: 12vw;
  height: 12vw;
  margin: 0 0.5vw;
}

.my-art .insta-link {
  font-size: 0.8em;
  margin: 0 0 0 40vw;
}

@media screen and (max-width: 1560px) {
  .my-art {
    width: 70vw;
    min-height: 70vh;
  }
  .my-art .art-blocks {
    width: 70vw;
  }
  .my-art .art-blocks img {
    width: 13vw;
    height: 13vw;
  }
  .my-art .insta-link {
    margin: 0 0 0 46vw;
  }
}

@media screen and (max-width: 983px) {
  .my-art {
    width: 80vw;
    min-height: 115vh;
    padding-top: 10vh;
  }
  .my-art .art-blocks {
    width: 80vw;
    position: relative;
  }
  .my-art .art-blocks .art-blocks-row1, .my-art .art-blocks .art-blocks-row2 {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .my-art .art-blocks img {
    width: 36vw;
    height: 36vw;
    margin-top: 1vw;
  }
  .insta-link {
    margin: 0 0 0 50vw;
    font: 1em;
  }
}

.about {
  position: relative;
  min-height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #001E4B;
}

.about p {
  font-family: "Nunito Sans", sans-serif;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 5vw 0vh 5vw;
}

.about .about-content .about-text {
  width: 35vw;
  margin-right: 5vw;
}

.about .about-content p {
  text-indent: 40px;
  text-align: justify;
}

.about .about-content a {
  color: #a5231f;
}

.about .about-content img {
  height: 50vh;
  width: auto;
}

@media screen and (max-width: 1560px) {
  .about {
    width: 70vw;
    min-height: 75vh;
  }
}

@media screen and (max-width: 983px) {
  .about {
    width: 80vw;
    padding-top: 10vh;
  }
  .about .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .about .about-content .about-text {
    width: 60vw;
    margin: 0 auto;
  }
  .about .about-content p {
    text-indent: 40px;
    text-align: justify;
  }
  .about .about-content a {
    color: #a5231f;
  }
  .about .about-content img {
    height: 40vh;
    margin-top: 4vh;
    width: auto;
  }
}

.contact {
  position: relative;
  min-height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 55vw;
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #001E4B;
}

.contact p {
  font-family: "Nunito Sans", sans-serif;
}

.contact .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.contact .contact-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40vw;
  margin: 2vh auto;
  padding: 1em 0;
}

.contact .contact-social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  width: 90px;
  height: 90px;
  color: #001E4B;
  text-align: center;
  border-radius: 50%;
  border: solid 2px #001E4B;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.contact .contact-social-links a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #001E4B;
  color: #fdf9f6;
  text-decoration: none;
  -webkit-filter: drop-shadow(0 5px 10px #a3a3a3);
          filter: drop-shadow(0 5px 10px #a3a3a3);
}

.contact a.resume-link {
  margin-top: 4vh;
}

@media screen and (max-width: 1560px) {
  .contact {
    width: 70vw;
    min-height: 60vh;
  }
  .contact .contact-social-links {
    width: 50vw;
  }
  a.resume-link {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 983px) {
  .contact {
    width: 80vw;
    padding-top: 10vh;
    min-height: 50vh;
  }
  .contact .contact-social-links {
    width: 70vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contact-social-links a {
    width: 12.5vw;
    height: 12.5vw;
    font-size: 130%;
  }
  .contact .contact-social-links a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

a.resume-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  text-decoration: none;
  font-size: 15px;
  background-color: #001E4B;
  color: white;
  border-radius: 20px;
  width: 300px;
  line-height: 40px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

a.resume-link i {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

a.resume-link:hover {
  text-decoration: none;
}

a.resume-link:hover i {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

a.resume-link:visited {
  color: white;
}

.fullpage-scroll {
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
/*# sourceMappingURL=style.css.map */